# This is Git's per-user configuration file.
[user]
    name = Kylan Byrd
    email = kylan.byrd@btr.energy

[includeIf "gitdir:~/dotfiles/"]
    path = ~/dotfiles/.gitconfig

[init]
    defaultBranch = main
